<section class="search-section">
  <h1 class="main-title">Pokédex</h1>

  <div class="search-wrapper">
    <!-- Barre de recherche -->
    <div class="search-box">
      <label for="search-input" class="search-label">Nom</label>

      <div class="search-field">
        <input
          id="search-input"
          type="text"
          (input)="onSearch($event)"
          placeholder="Rechercher un Pokémon..."
        />
      </div>
    </div>

    <!-- Bloc explicatif -->
    <div class="search-info-box">
      Recherchez un Pokémon par son nom.
    </div>
  </div>
</section>

<section class="filters-section">
  <div class="filters-inner">
    <div class="filter-group">
      <label for="sort-select">Filter by :</label>
      <select id="sort-select" (change)="onSort($event)">
        <option value="asc">A → Z</option>
        <option value="desc">Z → A</option>
      </select>
    </div>

    <div class="filter-group">
      <label for="type-select">Type :</label>
      <select id="type-select" (change)="onTypeChange($event)">
        <option value="">All</option>
        <option *ngFor="let type of availableTypes" [value]="type">
          {{ type }}
        </option>
      </select>
    </div>
  </div>
</section>

  <!-- 📦 Affichage conditionnel -->
  <div class="pokedex-panel">
    <ul class="pokemon-grid" *ngIf="filteredPokemons$ | async as pokemons; else loading">
      
      <!-- 🧩 Affichage des cartes Pokémon -->
      <app-pokemon-card
        *ngFor="let pokemon of pokemons; trackBy: trackByName"
        [pokemon]="pokemon">
      </app-pokemon-card>

      <!-- ❌ Aucun résultat -->
      <li *ngIf="pokemons.length === 0" class="no-results">
        Aucun Pokémon trouvé.
      </li>
    </ul>

    <!-- ⏳ Loading -->
    <ng-template #loading>
      <p class="loading">Chargement en cours...</p>
    </ng-template>
  </div>

